{% extends 'dashboard/index_client.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-2 text-center text-info">Mes comptes</h1>

        <table class="table table-secondary table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Num_compte</th>
                <th>Type</th>
                <th>Solde</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for compte in comptes %}
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.numCompte }}</td>
                <td>{{ compte.type }}</td>
                <td>{{ compte.solde }} €</td>
                <td>{{ compte.dateCreation ? compte.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn-primary rounded-3 px-4"><a class="text-white text-decoration-none " href="{{ path('app_detail_compte', {'id': compte.id}) }}">Détail</a></button>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun compte n'a été trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# <a href="">Create new</a>  #}
    </div>


{% endblock %}