{% extends 'board.html.twig' %}

{% block title %}
	Dashboard - Admin
{% endblock %}
{% block dash_title %}
	<a class="navbar-brand ps-3" href="{{path('app_dashboard_admin')}}">Admin Dashboard</a>
{% endblock %}
{% block navigation %}
    <div class="sb-sidenav-menu-heading">Paramètres Utilisateurs</div>
	<!--Gestion des utilistaeurs-->
	<a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
		<div class="sb-nav-link-icon">
			<i class="fas fa-columns"></i>
		</div>
		Utilisateurs
		<div class="sb-sidenav-collapse-arrow">
			<i class="fas fa-angle-down"></i>
		</div>
	</a>
	<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		<nav class="sb-sidenav-menu-nested nav">
			<a class="nav-link" href="{{ path('app_user_index') }}">Liste des utilisateurs</a>
			<a class="nav-link" href="layout-sidenav-light.html">Liste des clients</a>
			<a class="nav-link" href="{{ path('app_agent_index') }}">Liste des agents</a>
		</nav>
	</div>
	
	<!--Gestion des demandes-->
	<a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseDem" aria-expanded="false" aria-controls="collapseDem">
		<div class="sb-nav-link-icon">
			<i class="fas fa-columns"></i>
		</div>
		Demandes
		<div class="sb-sidenav-collapse-arrow">
			<i class="fas fa-angle-down"></i>
		</div>
	</a>
	<div class="collapse" id="collapseDem" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		<nav class="sb-sidenav-menu-nested nav">
			<a class="nav-link" href="{{ path('app_demande_index') }}">Liste de demande de compte</a>
			<a class="nav-link" href="">Liste de demande de chéquier</a>
		</nav>
	</div>
    <a class="nav-link" href="{{ path('app_contact_index') }}">
		<div class="sb-nav-link-icon">
			<i class="fas fa-table"></i>
		</div>
		Messages reçus
	</a>
	

	<div class="sb-sidenav-menu-heading">Paramètres Accueil</div>
    <!--Gestion des configurations-->
	<a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseInt" aria-expanded="false" aria-controls="collapseInt">
		<div class="sb-nav-link-icon">
			<i class="fas fa-columns"></i>
		</div>
		Interface
		<div class="sb-sidenav-collapse-arrow">
			<i class="fas fa-angle-down"></i>
		</div>
	</a>
	<div class="collapse" id="collapseInt" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		<nav class="sb-sidenav-menu-nested nav">
			<a class="nav-link" href="{{ path('app_configuration_edit', {'id': 2}) }}">Configuration</a>
			{# <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a> #}
		</nav>
	</div>
    <!--Gestion des services-->
	<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
		<div class="sb-nav-link-icon">
			<i class="fas fa-book-open"></i>
		</div>
		Services
		<div class="sb-sidenav-collapse-arrow">
			<i class="fas fa-angle-down"></i>
		</div>
	</a>
	<div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		<nav class="sb-sidenav-menu-nested nav">
			<a class="nav-link" href="">Ajouter service</a>
			<a class="nav-link" href="">Liste des services</a>
		</nav>
	</div>

	<a class="nav-link" href="{{path('app_news_index')}}">
		<div class="sb-nav-link-icon">
			<i class="fas fa-table"></i>
		</div>
		Actualités
	</a>

</div></div><div class="sb-sidenav-footer">
<div class="small">Nous sommes le
	{{ 'now' | date('m-d') }}</div></div></nav></div><div id="layoutSidenav_content"><main><div class="container-fluid px-4">
{% for message in app.flashes('info') %}
	<div class="alert alert-info">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('error') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endfor %}{% endblock %}
