{% extends 'base.html.twig' %}

{% block title %}Chequier index{% endblock %}

{% block body %}
    <h1>Chequier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Compte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chequier in chequiers %}
            <tr>
                <td>{{ chequier.id }}</td>
                <td>{{ chequier.quantite }}</td>
                <td>{{ chequier.etat }}</td>
                <td>{{ chequier.date ? chequier.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ chequier.compte }}</td>
                <td>
                    <a href="{{ path('app_chequier_show', {'id': chequier.id}) }}">show</a>
                    <a href="{{ path('app_chequier_edit', {'id': chequier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chequier_new') }}">Create new</a>
{% endblock %}
